/* Progress container */
.progress-container {
    display: none;
    margin-top: 8px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    height: 4px;
}

.theme-dark .progress-container {
    background-color: rgba(255, 255, 255, 0.1);
}

.progress-bar {
    height: 4px;
    width: 0%;
    background-color: #1976D2;
    transition: width 0.3s ease;
}

.progress-info {
    font-size: var(--font-body);
    color: #666;
    margin-top: 4px;
    text-align: center;
}

.theme-dark .progress-info {
    color: #aaa;
}
