/* Scrollbar styling */
#videos::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#videos::-webkit-scrollbar-track {
    background: transparent;
}

.theme-dark #videos::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 3px;
}

.theme-dark #videos::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.theme-light #videos::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

.theme-light #videos::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
