// =====================================================
// NAVIGATION & INTERACTIVE BUTTONS
// =====================================================

// Clear cache buttons
.clear-cache-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
	width: 34px;
    border-radius: 50%;
    padding: 0;
    position: relative;
    @extend %theme-bg-primary;
	
	&:hover {
		background-color: var(--color-red-hover) !important;
		cursor: pointer;
	}
}

// Dismiss button
.dismiss-button {
    background: none;
    border: none;
    padding: 0 3px;
    flex-shrink: 0;
    position: relative;
    @extend %interactive-base;

    path {
        .theme-light & {
			fill: var(--text-secondary-light);
		}
		.theme-dark &  {
			fill: var(--text-secondary-dark);
		}
    }

    &:hover path {
        .theme-dark & {
            fill: var(--text-secondary-dark-hover);
        }

        .theme-light & {
            fill: var(--text-secondary-light-hover);
        }
    }
}

// =====================================================
// TAB NAVIGATION
// =====================================================

.tab-navigation {
    display: flex;
    width: 90%;
    padding: 3px;
    border-radius: 18px;
    gap: 7px;

    .theme-dark & {
        background-color: var(--bg-primary-dark);
        border: var(--border-primary-dark) 1px solid;
    }

    .theme-light & {
        box-shadow: var(--bg-element-shadow-light);
    }

    &:hover .tab-button::after {
        display: none;
    }
}

.tab-button {
    flex: 1;
    padding: 6px;
    border: none;
    background: none;
    font-size: var(--font-h2);
    font-weight: 500;
    position: relative;
    text-align: center;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    @extend %interactive-base;
    @extend %theme-text-secondary;

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        height: 80%;
        right: -4px;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
    }

    .theme-dark & {
        &:not(:last-child)::after {
            background-color: var(--bg-selected-dark);
        }

        &:hover {
            color: var(--text-primary-dark);
            background-color: var(--bg-primary-dark-hover);
        }

        &.active {
            color: var(--text-primary-dark);
        }
    }

    .theme-light & {
        &:not(:last-child)::after {
            background-color: var(--bg-element-active-light);
        }

        &:hover {
            background-color: var(--bg-element-hover-light);
        }

        &:focus {
            background-color: var(--bg-element-active-light);
        }

        &.active {
            color: var(--text-primary-dark);
        }
    }

    &[data-tab-id="videos-tab"].active {
        background-color: var(--color-blue);
    }
    &[data-tab-id="downloads-tab"].active {
        background-color: var(--color-green);
    }
    &[data-tab-id="settings-tab"].active {
        background-color: var(--color-orange);
    }
}
